<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <form action="/beer/<%= beer.id %>?_method=PUT" method="post">
      Name:
        <input
        type="text"
        name="name"
        value="<%= beer.name %>"><br/>
      Description:
        <input
        type="text"
        name="description"><br/>
      Img:
        <input
        type="img"
        name="img">
      Style:
        <input
        type="text"
        name="style">
      ABV:
        <input type="number" name="abv">  
      <input type="submit" value="Update Beer">
    </form>
  </body>
</html>
