<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/public/style.css">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Boston Beers!</h1>
    <p>New user? Register below</p>
    <a href="/users/register">Register New User</a><br/>
    <br><p>Already a user? Sign in below</p>
    <br><a href="/users/signin">Sign In</a>
  </body>
</html>
