<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Boston Beers!</h1>
    <p>New user? Register below</p>
    <a href="/users/register">Register New User</a><br/>
    <br><p>Already a user? Sign in below</p>
    <br><a href="/users/signin">Sign In</a>
  </body>
</html>
