<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&family=Teko&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body style="background-image: url('https://www.tapsandcaps.com/wp-content/uploads/2019/03/shutterstock_1212903172.jpg')">
    <h1>Welcome to Boston Beers!</h1>
    <h2>A place where you can find some of the best beers offered in the New England area! Check out the wide variety of craft beer and visit a local brewery to try them out!</h2><br>
<div class="container">
  <div id="registerbox">
    <br><p>New user?</p>
    <br><a href="/users/register">Register Here</a>
  </div>
  <div id="signinbox">
    <p>Already a user?</p><br/>
    <br><a href="/users/signin">Sign In</a>
  </div>
</div>
  </body>
</html>
