body{
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightblue;
}
h1{
  font-size: 40px;
  color: white;
}
li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 15px;
}
img {
  width: 300px;
  display: inline-block;
}
.beer-img {
  background-color: black;
  display: inline-block;
  padding: 15px;
  color: white;
}
button {
  margin: 15px;
}
a {
  font-size: 19px;
}
p{
  display: block;
}
#editbeerbox {
  background-color: grey;
  max-width: 300px;
  display: flex;
  margin: auto;
  justify-content: center;
  opacity: 0.85;
}
#back {
  color: grey;
  text-decoration: none;
}
