body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: lightblue;
}
h1{
  font-size: 40px;
  color: white;
}
li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 15px;
}
img {
  max-width: 300px;
  max-height: 400px;
  display: inline-block;
}
.beerimg {
  background-color: green;
  display: inline-block;
  padding: 9px;
  width: 300px;
}
button {
  margin: 15px;
}
a {
  font-size: 19px;
  color: white;
}
.indxpg{
  margin-bottom: 50px;
}
