body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: lightblue;
}
h1{
  font-size: 5-px;
  color: white;
}
li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 15px;
}
img {
  max-width: 300px;
  max-height: 400px;
  display: inline-block;
}
.beerimg {
  border-radius: 10%;
  filter: drop-shadow(20px 10px 4px green);
  display: inline-block;
  padding: 9px;
  width: 300px;
}
a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.indxpg{
  margin-bottom: 50px;
}
