<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
  <link rel="stylesheet" href="/css/master.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/public/style.css"> -->
</head>
<body>
  <h1>Register A New User</h1>
  <form action="/users/register" method="POST">
    <fieldset>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </fieldset>
    <fieldset>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </fieldset>
    <fieldset>
      <label for="verifyPassword">Verify Password:</label>
      <input type="password" name="verifyPassword" id="verifyPassword">
    </fieldset>
    <input type="submit" value="Sign Up">
  </form><br/>
  <form action="submit" method="POST">
    <a href="/users">Back to Sign in</a>
  </form>
</body>
</html>
